{% extends "layouts/body-layout.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Connexion</h3>
                </div>
                {% for msg in flash('success') %}
                    <div class="card-alert alert alert-success alert-dismissible mb-0" role="alert">
                        <i class="fe fe-check mr-2" aria-hidden="true"></i> {{ msg }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                {% for msg in flash('error') %}
                    <div class="card-alert alert alert-danger alert-dismissible mb-0" role="alert">
                        <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i> {{ msg }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                <form class="card-body" method="POST" action="{{ path_for("login") }}">
                    <div class="form-group">
                        <label class="form-label">Identifiant</label>
                        <input type="text" class="form-control" name="id" placeholder="Identifiant" value="{{ oldData.id }}">
                    </div>
                    <div class="form-group">
                        <label class="form-label">
                            Mot de passe
                            <a href="./forgot-password.html" class="float-right small">Mot de passe oublié ?</a>
                        </label>
                        <input type="password" class="form-control" name="password" placeholder="Mot de passe">
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"/>
                            <span class="custom-control-label">Se souvenir de moi</span>
                        </label>
                    </div>

                    {{ csrf() | raw }}

                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
                    </div>
                </form>
                <div class="text-center text-muted">
                    Vous n'avez pas de compte? <a href="{{ path_for("showRegister") }}">Inscrivez-vous</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}