{% extends "layouts/body-layout.twig" %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Créneaux</h3>
            <div class="ml-auto">
                <a class="btn btn-secondary" href="{{ path_for("addNiche") }}"><i class="fe fe-plus mr-2"></i> Créer un créneau</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table card-table table-vcenter text-nowrap" id="dataTable">
                <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Plage horraire</th>
                    <th scope="col">Cycle</th>
                    <th scope="col">Besoins</th>
                </tr>
                </thead>
                <tbody>
                {% for niche in niches %}
                    <tr>
                        <td> {{ calcdate("2020-02-10", niche.week, niche.day, niche.cycle_id) }} </td>
                        <td> {{niche.begin}} - {{ niche.end }}h </td>
                        <td> {{ niche.cycle_id }} </td>
                        <td> BUTTON </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{%  endblock %}

{% block scripts %}
    <script src="{{ base_url() }}/public/assets/plugins/datatables/datatables.min.js"></script>
    <script>
        $('#dataTable').DataTable({
            language: {
                url: '{{ base_url() }}/public/assets/plugins/datatables/dataTables.french.json'
            },
            order: [],
            columnDefs: [ {
                targets : 'no-sort',
                orderable: false
            }]
        });
    </script>
{% endblock %}