{% extends "layouts/body-layout.twig" %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Heure début</th>
            <th scope="col">Heure Fin</th>
            <th scope="col">Jour</th>
            <th scope="col">Semaine</th>
            <th scope="col">Cycle</th>
        </tr>
        </thead>
        <tbody>
        {% for niche in niches %}
            <tr>
                <td> {{niche.begin}} </td>
                <td> {{niche.begin}} </td>
                <td> {{niche.jour}} </td>
                <td> {{niche.semaine}} </td>
                <td> {{niche.cycle}} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{%  endblock %}
{% block modal %}
    <!-- Modal d'affichage des besoins du créneau-->
    <div class="modal fade" id="needs" role="dialog" aria-labelledby="needsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="needsLabel">Besoins du créneau</h5>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for besoin in besoins %}
                        {% for role in roles %}
                            {% if besoin.id_role == role.id %}
                                <tr>
                                    <th scope="row">1</th>
                                    <td>{{ role.name }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
                <form>
                    <div class="form-group mt-2 text-center">
                        <button type="button" class="btn btn-primary" data-toggle="collapse" aria-expanded="false">Ajouter un besoin</button>
                    </div>
                    <div class="collapse" id="editImage<?= $item->id ?>">
                        <div class="form-group">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Appliquer</button>
                </form>
                <div class="modal-footer">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
