<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="./favicon.ico"/>
    <link rel="stylesheet" href="{{ base_url() }}/public/assets/css/fas.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <link href="{{ base_url() }}/public/assets/css/dashboard.css" rel="stylesheet"/>
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}Crazy Charly Frogs{% endblock %}</title>
</head>
<body>
    <div class="page">
        <div class="flex-fill">
            {% include "layouts/navbar.twig" %}
            <div class="my-3 my-md-5">
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        {% include "layouts/footer.twig" %}
    </div>

    <script src="{{ base_url() }}/public/assets/js/require.min.js"></script>
    <script>
        requirejs.config({
            baseUrl: '{{ base_url() }}/public'
        });
    </script>
    <script src="{{ base_url() }}/public/assets/js/dashboard.js"></script>
    <link href="{{ base_url() }}/public/assets/plugins/charts-c3/plugin.css" rel="stylesheet" />
    <script src="{{ base_url() }}/public/assets/plugins/charts-c3/plugin.js"></script>
    <link href="{{ base_url() }}/public/assets/plugins/maps-google/plugin.css" rel="stylesheet" />
    <script src="{{ base_url() }}/public/assets/plugins/maps-google/plugin.js"></script>
    <script src="{{ base_url() }}/public/assets/plugins/input-mask/plugin.js"></script>
    <script src="{{ base_url() }}/public/assets/plugins/datatables/plugin.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>