<div class="header py-4">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" href="{{ path_for("home") }}">
                <img src="{{ base_url() }}/public/assets/images/logo.png" class="header-brand-img" alt="Logo"> GEG | Crazy Charly Frogs
            </a>
            {% if auth.check %}
                <div class="d-flex order-lg-2 ml-auto">
                    <div class="dropdown">
                        <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                            <span class="avatar" style="background-image: url({{ base_url() }}/public/assets/images/users/{{ auth.user.picture }})"></span>
                            <span class="ml-2 d-none d-lg-block">
                                <span class="text-default">{{ auth.user.username }}</span>
                                {% if auth.user.admin %}
                                    <small class="text-muted d-block mt-1">Administrateur</small>
                                {% else %}
                                    <small class="text-muted d-block mt-1">Utilisateur</small>
                                {% endif %}
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="{{ path_for("showMyProfile") }}">
                                <i class="dropdown-icon fe fe-user"></i> Mon Profil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path_for("logout") }}">
                                <i class="dropdown-icon fe fe-log-out"></i> Déconexion
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
            </a>
        </div>
    </div>
</div>
{% if auth.check %}
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
        <div class="row align-items-center">
            {% if auth.check and auth.user.admin %}
                <div class="col-lg-3 ml-auto">
                    <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                        <li class="nav-item">
                            <a href="{{ path_for("showAdmin") }}" class="nav-link {% if current_page == "admin" %} active {% endif %}"><i class="fas fa-user-cog"></i> Espace Administrateur</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                    <li class="nav-item">
                        <a href="{{ path_for('showNeeds') }}" class="nav-link {% if current_page == "needs" %} active {% endif %}"><i class="fas fa-hands-helping"></i> Besoins</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path_for('showNiches') }}" class="nav-link {% if current_page == "niches" %} active {% endif %}"><i class="far fa-clock"></i> Créneaux</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path_for("home") }}" class="nav-link {% if current_page == "home" %} active {% endif %}"><i class="far fa-user"></i> Utilisateurs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}